@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Soccer App</h2>
        <p>
            This simple application enables the user with the ability to manage
            soccer players and teams.  This is accomplished through the usage of 
            Entity Framework 6 in an ASP.NET MVC 5 environment.
        </p>
    </div>
</div>